<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Twente License &middot; {{name}}</title>
        <link rel="stylesheet" href="./twente.css">
        {{#styles}}<link rel="stylesheet" href="{{{styles}}}">{{/styles}}
    </head>
    <body>
        <header>
            <div>
                <h1 class="name">{{name}}</h1>
                <div class="links">
                    {{#github}}<a target="_blank" rel="noopener noreferrer" href="{{{github}}}"><i title="Github" class="fab fa-github"></i></a>{{/github}}
                    {{#stackoverflow}}<a target="_blank" rel="noopener noreferrer" href="{{{stackoverflow}}}"><i title="Stack Overflow" class="fab fa-stack-overflow"></i></a>{{/stackoverflow}}
                    {{#gitlab}}<a target="_blank" rel="noopener noreferrer" href="{{{gitlab}}}"><i title="Gitlab" class="fab fa-gitlab"></i></a>{{/gitlab}}
                    {{#bitbucket}}<a target="_blank" rel="noopener noreferrer" href="{{{bitbucket}}}"><i title="Bitbucket" class="fab fa-bitbucket"></i></a>{{/bitbucket}}
                    {{#website}}<a target="_blank" rel="noopener noreferrer" href="{{{website}}}?ref=twente-license"><i title="Website" class="fas fa-link"></i></a>{{/website}}
                </div>
            </div>
        </header>
        <main>
            <div>
                <h1>Twente License</h1>
                <p>Copyright &copy; {{name}} (<a href="mailto:{{email}}">{{email}}</a>)</p>
                {{{license}}}
            </div>
            {{^repositories}}<style> section { display: none } </style>{{/repositories}}
            <section>
                <h1>Repositories</h1>
                <div>
                    {{#repositories}}
                        <a target="_blank" rel="noopener noreferrer" href="{{{html_url}}}">
                            <h2 class="name">{{name}}</h2>
                            <div class="language"><i class="fas fa-circle fa-fw" style="color: {{{color}}}"></i>{{language}}</div>
                            <div class="icons">
                                <div class="stars"><i class="fas fa-star fa-fw"></i>{{stargazers_count}}</div>
                                <div class="forks"><i class="fas fa-code-branch fa-fw"></i>{{forks_count}}</div>
                                <div class="issues"><i class="fas fa-exclamation-circle fa-fw"></i>{{open_issues_count}}</div>
                            </div>
                        </a>
                    {{/repositories}}
                </div>
            </section>
        </main>
        <footer>
            <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/AnandChowdhary">Get your own Twente License page.</a></p>
        </footer>
        {{#scripts}}<script src="{{{scripts}}}"></script>{{/scripts}}
        <script async defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39298323-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "UA-39298323-2");
            {{#ga}}
                gtag("config", "{{ga}}");
            {{/ga}}
        </script>
    </body>
</html>